TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION=medical-telegram-session
TELEGRAM_CHANNELS=Chemed,lobelia4cosmetics,tikvahpharma

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=medical_warehouse
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DB_SCHEMA_RAW=raw
DB_SCHEMA_STAGING=staging
DB_SCHEMA_MARTS=marts

YOLO_MODEL=yolov8n.pt


