telethon==1.36.0
python-dotenv==1.0.1
pandas==2.2.2
sqlalchemy==2.0.32
psycopg2-binary==2.9.9
dbt-postgres==1.8.2
fastapi==0.115.2
uvicorn==0.30.6
pydantic==2.9.2
dagster==1.8.8
dagster-webserver==1.8.8
ultralytics==8.3.3
opencv-python==4.10.0.84
tqdm==4.66.5
requests==2.32.3
pytest==8.3.2


